.item-wrap #break {
    margin-top: -40px;
}
.item-wrap #Stylin {
    margin-top: -35px;
}
.item-wrap #open {
    margin-top: -20px;
}

.item-wrap #trivia #Velcro {
    margin-top: -100px;
}

.item-wrap #Whack {
    margin-top: -25px;
}
.item-wrap #Breeds {
    margin-top: -50px;
}
